.nav-link.nav-tameson {
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapwrap.o_portal {
    background-color: #ffffff !important;
}
